.verde{
   height: 200px;
}

.rojo{
    height: 200px;
}



.table{
    border: #696969;
    transition-duration: 0.4s;
    cursor: pointer;
}

.table-success:hover{
    background-color: #8bbb69;
}

.table-primary:hover{
    background-color: #6c7e8f;
}

.table-warning{
    background-color: #c0c073;
}

.table-danger{
    background-color: #e57575;
}