.altura{
    height: 200px;
}
.mitad_altura{
    height: 100px;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: red;
}
.amarillo{
    background-color: yellow;
}