.amarillo{
    background-color: yellow;
    height: 100px;
}

.verde{
    background-color: green;
    height: 100px;
}

.azul{
    background-color: blue;
    height: 100px;
}

.rojo{
    background-color: red;
    height: 100px;
}

.naranja{
    background-color: orange;
    height: 100px;
}

.lila{
    background-color: purple;
    height: 100px;
}